<h1>Reactive Form</h1>
<div class="container">
  <div class="inner">
<form [formGroup]="forms">
<label>Book Name: </label>
<input type="text" formControlName="bookname"> <br>
<label>Author: </label> 
<input type="text" formControlName="author"> 
<br>
<label>Publication: </label>
<input type="text" formControlName="publication"><br>
<label>Price (in Rs): </label>
<input type="number" formControlName="price"> <br>
<label>Genre: </label>
<input type="text" formControlName="genre"><br>
<label>Published Date: </label>
<input type="date" formControlName="date">
 <br>
<label>Country: </label>
<input type="text" formControlName="country"> <br>
<label>Description</label>
<textarea formControlName="desc"></textarea> 
<br><br><br>
<button type="submit" (click)="submit()">Save</button>
</form>
</div></div> 